* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
.content {
    margin: 0 auto;
    width: 1600px;
}

/* header */
header {
    padding-top: 208px;
    width: 1600px;
    height: 990px;
    /* background: rgba(20, 20, 20, 1); */
    /* opacity: .65; */
    background: url(../image/header_bg.png) no-repeat 0 0;
    color: #fff;
}
header h1 {
    /* margin-top: 208px; */
    text-align: center;
    
}
header .title p {
    text-align: center;
    font-size: 20px;
}
.sign-up-form {
    margin: 100px auto;
    border: 1px solid #575053;
    height: 250px;
    width: 970px;
    text-align: center;
}
.sign-up-form h4 {
    margin-top: 40px;
}
.sign-up-form p {
    font-size: 12px;
}
.sign-up-form input {
    margin-right: 30px;
    border: 1px solid rgba(58, 53, 47, .3);
    height: 50px;
    width: 292px;
    background-color: transparent;
    color: #fff;
}
.sign-up-form button {
    height: 50px;
    width: 125px;
}

/* feature-1 */
.feature-1 {
    padding-top: 50px;
    height: 710px;
    border-bottom: 1px solid #b2b6b3;
    text-align: center;
    color: #141414;
}
.feature-1 h5 {
    font-size: 14px;
}
.feature-1 .title p {
    font-size: 42px;
}
.feature-1 img {
    display: inline-block;
    margin-right: 10px;
}
.icon-infor {
    display: inline-block;
    padding-left: 5px;
    text-align: left;
    font-size: 16px;
}
.icon-infor span {
    font-size: 20px;
}
.feature-1 > :nth-child(2) > div {
    float: left;
    margin-bottom: 50px;
    width: 50%;
    line-height: 1;
}
.title {
    margin-bottom: 150px;
}

/* call-to-action */
.call-to-action {
    padding-left: 316px;
    height: 800px;
    background: url(../image/call_to_action_bg.png) no-repeat 0 0;
}
.left {
    display: inline-block;
    padding-top: 180px;
    width: 505px;
    height: 100%;
    color: #fff;
}
.left :nth-child(1) {
    margin: 0;
    font-size: 42px;
}
.left :nth-child(2) {
    font-size: 18px;
}
.left button {
    width: 240px;
    height: 60px;
}
.left :nth-child(3) {
    margin-right: 15px;
}
.right {
    float: right;
    position: relative;
    top: 100px;
    right: 0;
    border: 1px solid #d3d3d3;
    border-right: 0;
    border-radius: 30px 0 0 30px;
    width: 645px;
    height: 600px;
}
.circle {
    position: absolute;
    top: 295px;
    left: 30px;
    width: 10px;
    height: 10px;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
}
.screen {
    float: right;
    position: relative;
    top: 29px;
    width: 585px;
    height: 542px;
    border: 1px solid #d3d3d3;
    border-right: 0;
}

/* feature-2 */
.feature-2 {
    height: 580px;
    border-bottom: 1px solid #b2b6b3;
}
.feature-2 h1 {
    font-size: 42px;
    text-align: center;
    font-weight: 100;
    margin-top: 100px;
}
.feature-2 > div {
    text-align: center;
    padding-top: 100px;
}
.feature-2 > div > div {
    display: inline-block;
    margin-right: 100px;
    width: 250px;
    text-align: center;
}
.feature-2 img {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}

/* feature-3 */
.feature-3 {
    padding-top: 110px;
    height: 1000px;
    border-bottom: 1px solid #f3f3f3;
}
.feature-3 > div {
    position: relative;
    width: 970px;
    height: 780px;
    margin: 0 auto;
    color: #141414;
}
.feature-3 h3 {
    font-size: 20px;
}
.feature-3 > div > :nth-child(2) {
    position: absolute;
    bottom: 0;
    right: 0;
}
.feature-3 > div > :nth-child(3) {
    float: right;
    margin-top: 50px;
    width: 260px;
}
.feature-3 > div > :nth-child(4) {
    float: left;
    margin-top: 200px;
    width: 260px;
}

/* team */
.team {
    height: 1084px;
    border-bottom: 1px solid #b2b6b3;
    text-align: center;
}
.team > div {
    margin: 0 auto;
    padding-top: 50px;
    width: 970px;
    height: 100%;
}
.team > h1 {
    font-size: 42px;
}
.team > p {
    font-size: 18px;
}
.person {
    margin-bottom: 20px;
}
.person :nth-child(1) {
    margin-right: 20px;
}

/* contact */
.contact {
    position: relative;
    padding-top: 70px;
    padding-left: 315px;
    height: 700px;
    border-bottom: 1px solid #acacac;
}
form {
    padding-top: 30px;
    width: 470px;
    height: 560px;
    border: 1px solid #d3d3d3;
    border-radius: 7px;
    text-align: center;
}
.contact span {
    font-size: 16px;
}
.contact input {
    margin-top: 30px;
    height: 50px;
    width: 370px;
    color: #d3d3d3;
}
.contact textarea {
    margin-top: 30px;
    width: 370px;
    resize: none;
    color: #d3d3d3;

}
.contact button {
    margin-top: 30px;
    width: 370px;
    height: 50px;
    background-color: #141414;
    color: #fff;
}
.contact h1 {
    margin-bottom: 100px;
    font-size: 42px;
    font-weight: 200;
    text-align: center;
}
.contact > div {
    position: absolute;
    top: 70px;
    left: 800px;
    width: 470px;
    height: 560px;
}
.contact-icon {
    margin-left: 100px;
    margin-bottom: 30px;
}
.contact-icon p{
    display: inline-block;
    margin-left: 20px;
}
.contact-icon {
    line-height: 1;
}

/* footer */
footer {
    position: relative;
    padding-top: 85px;
    padding-left: 215px;
    height: 400px;
    font-weight: 200;
    background-color: #141414;
    color: #fff;
}
footer > div {
    height: 210px;
    width: 690px;
}
footer span {
    font-size: 14px;
}
ul {
    display: inline-block;
    margin: 0;
    margin-right: 160px;
    padding: 0;
    font-size: 16px;
    list-style: none;
}
footer > :nth-child(1) > :nth-child(3){
    margin-right: 0;
}
li {
    margin-bottom: 25px;
}
.footer-icon {
    position: absolute;
    top: 85px;
    right: 200px;
    height: 200px;
    width: 260px;
}
.footer-icon p{
    font-size: 18px;
}
.footer-icon > :nth-child(2) > img {
    margin-right: 22px;
}